<div class="container">

  <div class="row mt-5">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p style="color:#008C9E;font-size:40px;">Notifications</p><hr>
      <div class="row bg-light">
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <strong class="mt-2">Ganesh Hegde</strong>
          <br> @ganeshhegde14
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <small class="text-muted">has followed you.</small>
        </div>
        <div class="col-2 col-sm-2 col-md-2">
          <button type="button" class="btn btn-outline-primary float-right mt-2">follow</button>
        </div>
      </div>
      <hr>
      <div class="row bg-light">
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <strong class="mt-2">Atul Gaikwad</strong>
          <br> @area51pune
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <small class="text-muted">has loved your photo.</small>
        </div>
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
      </div>
      <hr>
      <div class="row bg-light">
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <strong class="mt-2">Reuben Dongre</strong>
          <br> @reubendongre
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <small class="text-muted">has commented on your post:</small>
          what is that a cat or pussy?
        </div>
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
      </div>
      <hr>
      <div class="row bg-light">
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <strong class="mt-2">Sanyog Nishandhar</strong>
          <br> @sanyabaiya
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <small class="text-muted">has started following you.</small>
        </div>
        <div class="col-2 col-sm-2 col-md-2">
          <button type="button" class="btn btn-outline-primary float-right mt-2 pb-1 btnclr">following</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <strong class="mt-2">Ganesh Hegde</strong>
          <br> @ganeshhegde14
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <small class="text-muted">has followed you.</small>
        </div>
        <div class="col-2 col-sm-2 col-md-2">
          <button type="button" class="btn btn-outline-primary float-right mt-2">follow</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <strong class="mt-2">Atul Gaikwad</strong>
          <br> @area51pune
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <small class="text-muted">has loved your photo.</small>
        </div>
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <strong class="mt-2">Reuben Dongre</strong>
          <br> @reubendongre
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <small class="text-muted">has commented on your post:</small>
          what is that a cat or pussy?
        </div>
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <strong class="mt-2">Sanyog Nishandhar</strong>
          <br> @sanyabaiya
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <small class="text-muted">has started following you.</small>
        </div>
        <div class="col-2 col-sm-2 col-md-2">
          <button type="button" class="btn btn-outline-primary float-right mt-2 pb-1 btnclr">following</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-2 col-sm-2 col-md-2">
          <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <strong class="mt-2">Sachin Shetty</strong>
          <br> @sachinshetty
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <small class="text-muted">has followed you.</small>
        </div>
        <div class="col-2 col-sm-2 col-md-2">
          <button type="button" class="btn btn-outline-primary float-right mt-2">follow</button>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
</div>