<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-sm-3">
      
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-outline-primary ml-5">Club</button>
      <button type="button" class="btn btn-outline-primary ml-5">People</button>
      <button type="button" class="btn btn-outline-primary ml-5">Events</button>
    </div>
    <div class="col-sm-3">
      Pune
      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-6 col-md-6">
      <div class="media">
        <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        <div class="media-body">
          <strong class="mt-2">Ganesh Hegde</strong>
          <button type="button" class="btn btn-outline-primary ml-5 float-right mt-2">follow</button>
          <a href="#" class="float-right mt-2">PEOPLE</a>
          <br> @ganeshhegde14
        </div>
      </div>
      <hr>
      <div class="media">
        <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        <div class="media-body">
          <strong class="mt-2">AREA 51 </strong> - <small class="text-muted">Night Club, Pune</small>
          <button type="button" class="btn btn-outline-primary ml-5 float-right mt-2">follow</button>
          <a href="#" class="float-right mt-2">CLUB</a>
          <br> @area51pune
        </div>
      </div>
      <hr>
      <div class="media">
        <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        <div class="media-body">
          <strong class="mt-2">Let's Party Tonight! Ok!</strong>
          <button type="button" class="btn btn-outline-primary ml-5 float-right mt-2">book</button>
          <a href="#" class="float-right mt-2">EVENT</a>
          <br> @clubmiami20
        </div>
      </div>
      <hr>
      <div class="media">
        <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        <div class="media-body">
          <strong class="mt-2">AREA 51 </strong> - <small class="text-muted">Night Club, Pune</small>
          <button type="button" class="btn btn-outline-primary ml-5 float-right mt-2">follow</button>
          <a href="#" class="float-right mt-2">PEOPLE</a>
          <br> @area51pune
        </div>
      </div>
      <hr>
      <div class="media">
        <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        <div class="media-body">
          <strong class="mt-2">Ganesh Hegde</strong>
          <button type="button" class="btn btn-outline-primary ml-5 float-right mt-2">follow</button>
          <a href="#" class="float-right mt-2">PEOPLE</a>
          <br> @ganeshhegde14
        </div>
      </div>
      <hr>
      <div class="media">
        <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        <div class="media-body">
          <strong class="mt-2">AREA 51 </strong> - <small class="text-muted">Night Club, Pune</small>
          <button type="button" class="btn btn-outline-primary ml-5 float-right mt-2">follow</button>
          <a href="#" class="float-right mt-2">CLUB</a>
          <br> @area51pune
        </div>
      </div>
      <hr>
      <div class="media">
        <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        <div class="media-body">
          <strong class="mt-2">Let's Party Tonight! Ok!</strong>
          <button type="button" class="btn btn-outline-primary ml-5 float-right mt-2">book</button>
          <a href="#" class="float-right mt-2">EVENT</a>
          <br> @clubmiami20
        </div>
      </div>
      <hr>
      <div class="media">
        <img class="mr-3 rounded-circle" src="assets/d.jpg" alt="image" height="60px" width="60px">
        <div class="media-body">
          <strong class="mt-2">AREA 51 </strong> - <small class="text-muted">Night Club, Pune</small>
          <button type="button" class="btn btn-outline-primary ml-5 float-right mt-2">follow</button>
          <a href="#" class="float-right mt-2">PEOPLE</a>
          <br> @area51pune
        </div>
      </div>
      <hr>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>
</div>

